@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*
   {
    margin: 0 auto;
    pading:0;
    box-sizing:border-box;
    background: url(background-gada440083_1280.jpg) center;
    
    
    font-family: "Open Sans", sans-serif;  /* tipo de letra, importada do google fonts */
    line-height: 1,5; /* espaçamento entre linhas */
    color:white;      /* letra branca */
        }
        
        
    #Menu-Cliente ul { 
      list-style: none;
      padding:0;
      background-color: rgb(37,37,39); /* Barra do menu horizontal preta*/
     }
     
    #Menu-Cliente ul li { 
         display: inline;
     }
        
    #Menu-Cliente ul li a  {  
        color: #fff;                /* letra do menu branca */
        padding: 20px;
        text-decoration: none; 
         display: inline-block;
        
     }
        
    #Menu-Cliente ul li a:hover {  
    background-color: rgb(24,139,233);  /* clicar na opçaõ pretendida fica azul*/
      
    .text-box {
    background-color: black;  
    padding: 5px 40px;
    margin-top: 20px;
    border-radius:50px; 
    
    }

     .text-box h1 {
    text-align: center;
    font-size: 62px;
    }

    .text-box p {
    text-align: center;
    font-size: 14px;
    }

       