@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*
   {
    margin: 0 auto;
    pading:0;
    box-sizing:border-box;
   
    font-family: "Open Sans", sans-serif;  /* tipo de letra, importada do google fonts */
    color:white;      /* letra branca */
   
     }
       
    #background {
    background-image: url('../pictures/background-gada440083_1280.jpg');
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
    }
        
    /* Style do Menu do cliente  */  
    
    #Menu-Cliente ul { 
      list-style: none;
      padding:0;
      background-color: rgb(37,37,39); /* Barra do menu horizontal preta*/
     }
     
    #Menu-Cliente ul li { 
         display: inline;
     }
        
    #Menu-Cliente ul li a  {  
        color: #fff;                /* letra do menu branca */
        padding: 20px;
        text-decoration: none; 
         display: inline-block;
        
     }
        
    #Menu-Cliente ul li a:hover {  
    background-color: rgb(24,139,233);  
      
    
    
    
    
    #text-box {
    width: 100%;
    position:absolute;
    text-align: center;
    top:300px;
  
    }

    #text-box h1 {
   
    font-size: 62px;
    }

    #text-box p {
    margin: 10px 0 40px;
  
    font-size: 14px;
    }

       }