.title{
    margin-top: 10%;
    font-weight: bold;
    font-family: 'Elianto';font-size: 20px;
    float: left;
}


.navbar li a {
    color: white; float: left;
}
.navbar-header {

}
.img{
    
}
.container{
    
}
.navbar {
    color: white; 
     margin-bottom: 0;
    background-color: black;
    z-index: 9999;
    border: 0;
    font-size: 12px;

    letter-spacing: 4px;
    border-radius: 0;
    align-content: center;

}

.navbar-default {
    border-color: transparent;

    height: 50px;
    
}

.headercolumn1{
    display:flex;
    flex-direction:column;
    width:11%;
    align-content: center;
    flex-basis: 100%;
    float: left;
    flex:1;
}
.headercolumn2{
    display:flex;
    flex-direction:column;
    flex-basis: 100%;
    align-content: center;
    flex:3;
}
.headercolumn3{
    display:flex;
    flex-direction:row;
    text-align: right;
    margin-top:2%;
    align-content: center;
    margin-right: 1%; 
    
}.header {
    background-color: white;
    height: 2%;
 
    text-align: center;
    color: black;
}
.header img {
    float: left;

}
.header h1,h3 {
    margin-top: 10px;
    margin-left: 5%;

    margin-bottom: 0.25em;
}.row {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;


}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}.collapse {

}

.nav {

}

.navbar-nav {

}


.navbar-right {

}

.col-sm-5 {
color: white;
}
col-sm-7{
    color: white;
}

.container-fluid {
color:white;

}

.bg-grey {
color:white;

}

.saudacao {
font-family: 'Elianto';font-size: 40px;
text-align: center;
}

.conteudo {
font-family: 'Elianto';font-size: 20px;
text-align: center;
}
