* {
    font-family: monospace, Helvetica, Arial;
}
body{
    background-color: rgb(203,211,193);
}
.blog {
    background: rgb(203,211,193);
    height: 100%;
}
.header {
    background-color: rgb(203,211,193);
    height: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    color: white;
}
.header img {
    float: left;

}
.header h1,h3 {
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 0.25em;
}
.menu ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: chocolate;
}
.column{
    display:flex;
    flex-direction:column;
    text-align: left;
    background-color: rgb(203,211,193);
    
   flex:2
}

.column1{
    display:flex;
    flex-direction:column;
    text-align: left;
  
    flex-basis: 100%;
  float: left;
    flex:2;
}
.column2{
    display:flex;
    flex-direction:column;
   
    background-color: black;
    flex-basis: 100%;
    align-content: center;
    flex:4;
}
.column3{
    display:flex;
    flex-direction:column;
    text-align: right;
    
    flex-basis: 100%;
    align-content: center;
    flex:1;
}

.row {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
 
    
}.posts {
color:white;
}

.tags {

}
.row1 {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
    
 
    
}
.row2 {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
    flex:1;text-align: center;
 background-color: black;
  

    
}.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.proximaP{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 10px;
    transition: rotate 2s;
}

.proximaP:hover{
    font-size: 12px;
    transform: rotate(25deg);
}