.title{
    margin-top: 10%;
    font-weight: bold;
    font-family: 'Elianto';font-size: 20px;
    float: left;
}


.navbar li a {
    color: white; float: left;
}
.navbar-header {

}
.img{

}
.container{

}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
#background {
    background-image: url('../pictures/clienteBackground.jpeg');   
    z-index: -10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
}
.navbar {
    color: white; 
    margin-bottom: 0;
    background-color: black;
    z-index: 9999;
    border: 0;
    font-size: 12px;

    letter-spacing: 4px;
    border-radius: 0;
    align-content: center;

}

.navbar-default {
    border-color: transparent;

    height: 50px;

}

.footer {
    position: fixed;
    padding: 8px;
    left: 0;
    bottom: 0;

    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

.nav {

}

.navbar-nav {

}


.navbar-right {

}


.info {

    color:white;
    font-family: "Trirong", serif;
    text-align: center;
    align-content: center;

}

.info h2{
    font-size: 40px;     
    margin-bottom: 2%;
    margin-top: 5%;
}
.p{
    width: 100%;
    height:30px;
}
.sp{
    width: 100%;
    height:80px;
}


.btn {                    
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 34px;      /* Preenchimento */ 
    border: 1px solid #2d72a3;
    transition: 0.6s ease;
    position: relative;
    background: transparent;
    font-size: 17px;
   
    

} 
.top{

}

.letra {
font-family: arial;
}

.imagem {
 margin-bottom: 15px;
    margin-left: 105%;
   
}